/* ==========================================================================
grid
========================================================================== */

.container {
  width: 100%;
  margin: 0 auto;

  @include min-width(xl) {
    max-width: 1200px;
  }
}
